<!DOCTYPE>

<html>

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="css.css">
</head>

<body>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" style="display:none" xml:space="preserve">
    <g id="edit">
      <path xmlns="http://www.w3.org/2000/svg" d="M328.883,89.125l107.59,107.589l-272.34,272.34L56.604,361.465L328.883,89.125z M518.113,63.177l-47.981-47.981   c-18.543-18.543-48.653-18.543-67.259,0l-45.961,45.961l107.59,107.59l53.611-53.611   C532.495,100.753,532.495,77.559,518.113,63.177z M0.3,512.69c-1.958,8.812,5.998,16.708,14.811,14.565l119.891-29.069   L27.473,390.597L0.3,512.69z"
      />
    </g>
    <g id="del">
      <path xmlns="http://www.w3.org/2000/svg" d="M76.5,408c0,28.05,22.95,51,51,51h204c28.05,0,51-22.95,51-51V102h-306V408z M408,25.5h-89.25L293.25,0h-127.5l-25.5,25.5    H51v51h357V25.5z"
      />
    </g>
  </svg>
  <div id="root">
    <div class="list-container j_list-container">
      <div class="date-list-container j_date-list-container" v-for="(value, key) in items">
        <div class="date-block j_date-block">
          <p class="date-block-text j_date-block-text">{{ key }}</p>
        </div>
        <transition-group name="item-fade" tag="div">
        <div class="list-item j_list-item" v-for="item in value" :key="item.date" v-if="!item.isFinished">
          <div class="left-container" @click="del(item)">
            <p>{{ item.content }}</p>
          </div>
          <div class="right-container">
            <a class="edit-btn j_edit-btn">
              <svg class="func-icon" viewbox="0 0 528.899 528.899">
                <use xlink:href="#edit"></use>
              </svg>
            </a>
            <a class="del-btn j_del-btn">
              <svg class="func-icon" viewbox="0 0 459 459">
                <use xlink:href="#del"></use>
              </svg>
            </a>
          </div>
          <div class="clear"></div>
        </div>
      </transition-group>
      </div>
    </div>

    <div class="add-item-btn" @click="showAddPanel = true">
      ADD
    </div>

    <!-- <div class="test-item-btn" @click="test()">
      test
    </div> -->

    <div class="input-panel" v-if="showAddPanel">
      <textarea class="new-item-input" v-model="content" autofocus></textarea>
      <div class="add-btn" @click="addItem()">
        <p>Sure</p>
      </div>
    </div>
  </div>

</body>
<script src="zepto.min.js"></script>
<script src="vue.js"></script>
<script src="js.js"></script>

</html>